<a href="https://colab.research.google.com/github/swarajpatankar/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
# first five rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
55546,47004,1.283418,0.354874,0.158519,0.607335,-0.186818,-0.865444,0.084609,-0.186195,0.042276,...,-0.310652,-0.887568,0.084508,-0.012270,0.267755,0.116476,-0.022729,0.027233,0.89,0.0
55547,47005,-0.969584,-0.514812,1.010076,-0.492493,-1.074442,0.812377,1.739011,0.069684,-0.741379,...,0.137958,-0.378729,0.989131,-0.311335,-0.302619,0.720578,-0.171671,0.034326,424.80,0.0
55548,47005,-0.448083,0.936043,1.308078,0.424255,0.141240,-0.224215,1.114183,-0.286478,-0.144553,...,0.084264,0.345878,-0.222427,0.052293,0.093368,-0.387899,-0.354380,-0.223041,55.75,0.0
55549,47005,0.616391,-0.770376,-0.306186,1.374006,-0.177289,0.186992,0.417697,0.073573,-0.009001,...,0.182098,-0.039148,-0.409170,-0.315762,0.626198,-0.254219,-0.042365,0.044234,293.00,0.0
55550,47005,-2.212795,0.701029,1.063799,1.449808,-1.045775,0.416184,-1.071689,-2.157124,0.014993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55551 entries, 0 to 55550
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    55551 non-null  int64
 1   V1      55551 non-null  float64
 2   V2      55551 non-null  float64
 3   V3      55551 non-null  float64
 4   V4      55551 non-null  float64
 5   V5      55551 non-null  float64
 6   V6      55551 non-null  float64
 7   V7      55551 non-null  float64
 8   V8      55551 non-null  float64
 9   V9      55551 non-null  float64
 10  V10     55551 non-null  float64
 11  V11     55551 non-null  float64
 12  V12     55551 non-null  float64
 13  V13     55551 non-null  float64
 14  V14     55551 non-null  float64
 15  V15     55550 non-null  float64
 16  V16     55550 non-null  float64
 17  V17     55550 non-null  float64
 18  V18     55550 non-null  float64
 19  V19     55550 non-null  float64
 20  V20     55550 non-null  float64
 21  V21     55550 non-null  float64
 22  V22     55550 non-null  float64
 23  V23     55550 non-null  float64
 24  V24     55550 non-null  float64
 25  V25     55550 non-null  float64
 26  V26     55550 non-null  float64
 27  V27     55550 non-null  float64
 28  V28     55550 non-null  float64
 29  Amount  55550 non-null  float64
 30  Class   55550 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 13.1 MB

In [9]:
# distribution of legit transactions and fruadulent transactions
credit_card_data['Class'].value_counts()

0.0    55394
1.0      156
Name: Class, dtype: int64

This Dataset is highly unbalanced

0 --> Normal Transaction

1 --> Fruadulent Transaction

In [10]:
# spepreting the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(55394, 31)
(156, 31)

In [15]:
# statistical measures of the data
legit.Amount.describe()

count    55394.000000
mean        94.703197
std        257.030241
min          0.000000
25%          7.680000
50%         25.790000
75%         86.907500
max      12910.930000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     156.000000
mean       95.758013
std       228.178528
min         0.000000
25%         1.000000
50%         4.930000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,30600.766816,-0.222674,-0.018472,0.721307,0.161099,-0.244542,0.107561,-0.096454,0.045242,0.092669,...,0.046438,-0.031322,-0.106872,-0.038113,0.007273,0.134525,0.020398,0.002097,0.004102,94.703197
1.0,27835.794872,-7.345427,5.255872,-9.922599,5.709553,-5.426307,-2.204159,-7.736462,3.560034,-3.453697,...,0.449731,0.881689,-0.211806,-0.275513,-0.088146,0.239724,0.127377,0.580843,0.031086,95.758013

**Under-Sampling**

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 156

In [19]:
legit_sample = legit.sample(n =156)

Concatenating two DataFrames

In [20]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
43361,41477,-0.484891,0.607807,1.646310,-0.070508,-0.742001,0.581162,-0.709364,0.856660,-0.134961,...,0.432345,1.146404,-0.001081,-0.266879,-0.610670,0.396878,-0.039340,-0.024279,17.55,0.0
23162,32618,1.051812,-0.285993,-0.396514,-0.133265,0.036811,-0.439941,0.402359,-0.168646,-0.334019,...,-0.361698,-1.425478,-0.036026,-0.498654,0.146194,0.642423,-0.129977,0.009599,145.49,0.0
26011,33871,-10.863455,5.917621,-8.622943,1.413130,-7.079860,-1.545670,-4.166201,7.112962,-0.036057,...,0.268684,-0.184325,0.058402,0.398932,0.105922,-0.352773,0.077840,-0.087331,89.99,0.0
8535,11473,1.239641,-0.084782,0.561195,0.200677,-0.443919,-0.192525,-0.363295,-0.074097,1.755110,...,-0.228563,-0.179460,-0.109431,0.051257,0.449808,1.074636,-0.095192,-0.018552,8.92,0.0
41432,40678,-0.794048,-0.341661,1.075642,-1.470494,0.315883,-0.555385,0.011309,0.160571,-1.401995,...,0.192370,0.297747,0.129615,-0.070217,-0.333227,-0.514603,0.119476,0.168145,59.95,0.0

In [23]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
52521,45501,1.001992,0.047938,-0.349002,1.493958,0.186939,0.190966,-0.001112,0.147140,0.580415,...,-0.334417,-1.014315,-0.128427,-0.946242,0.456090,-0.453206,0.046627,0.064698,105.99,1.0
52584,45541,-1.519244,2.308492,-1.503599,2.064101,-1.000845,-1.016897,-2.059731,-0.275166,-1.562206,...,1.307871,0.102826,-0.017746,0.149696,-0.096602,-0.369115,-0.019244,-0.208319,1.00,1.0
53591,46057,-1.309441,1.786495,-1.371070,1.214335,-0.336642,-1.390120,-1.709109,0.667748,-1.699809,...,0.533521,-0.022180,-0.299556,-0.226416,0.364360,-0.475102,0.571426,0.293426,1.00,1.0
53794,46149,-1.346509,2.132431,-1.854355,2.116998,-1.070378,-1.092671,-2.230986,1.036425,-1.895516,...,0.609508,0.202874,-0.060791,-0.186733,-0.017401,-0.283751,0.395451,0.233139,1.00,1.0
55401,46925,-0.481531,1.059542,0.647117,0.905586,0.819368,-0.091184,0.504135,0.161064,-0.765054,...,0.070633,0.192491,-0.174659,-0.438908,0.239259,-0.217823,-0.072852,0.010463,1.00,1.0

In [24]:
new_dataset['Class'].value_counts()

0.0    156
1.0    156
Name: Class, dtype: int64

In [25]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,33075.826923,-0.332755,-0.248168,0.588652,0.300645,-0.215496,0.084961,-0.303256,0.064017,0.162443,...,-0.029027,-0.009635,-0.079096,-0.117273,-0.024671,0.181371,0.009273,0.121537,0.011067,111.358910
1.0,27835.794872,-7.345427,5.255872,-9.922599,5.709553,-5.426307,-2.204159,-7.736462,3.560034,-3.453697,...,0.449731,0.881689,-0.211806,-0.275513,-0.088146,0.239724,0.127377,0.580843,0.031086,95.758013

Splitting the data into Features & Targets

In [26]:
X = new_dataset.drop(columns='Class', axis=1)
Y =new_dataset['Class']

In [27]:
print(X)

        Time         V1        V2        V3        V4        V5        V6  \
43361  41477  -0.484891  0.607807  1.646310 -0.070508 -0.742001  0.581162
23162  32618   1.051812 -0.285993 -0.396514 -0.133265  0.036811 -0.439941
26011  33871 -10.863455  5.917621 -8.622943  1.413130 -7.079860 -1.545670
8535   11473   1.239641 -0.084782  0.561195  0.200677 -0.443919 -0.192525
41432  40678  -0.794048 -0.341661  1.075642 -1.470494  0.315883 -0.555385
...      ...        ...       ...       ...       ...       ...       ...
52521  45501   1.001992  0.047938 -0.349002  1.493958  0.186939  0.190966
52584  45541  -1.519244  2.308492 -1.503599  2.064101 -1.000845 -1.016897
53591  46057  -1.309441  1.786495 -1.371070  1.214335 -0.336642 -1.390120
53794  46149  -1.346509  2.132431 -1.854355  2.116998 -1.070378 -1.092671
55401  46925  -0.481531  1.059542  0.647117  0.905586  0.819368 -0.091184

             V7        V8        V9  ...       V20       V21       V22  \
43361 -0.709364  0.856660 -0.134961  ... -0.136481  0.432345  1.146404
23162  0.402359 -0.168646 -0.334019  ...  0.267272 -0.361698 -1.425478
26011 -4.166201  7.112962 -0.036057  ... -0.082661  0.268684 -0.184325
8535  -0.363295 -0.074097  1.755110  ... -0.073178 -0.228563 -0.179460
41432  0.011309  0.160571 -1.401995  ...  0.279310  0.192370  0.297747
...         ...       ...       ...  ...       ...       ...       ...
52521 -0.001112  0.147140  0.580415  ...  0.016004 -0.334417 -1.014315
52584 -2.059731 -0.275166 -1.562206  ...  0.175019  1.307871  0.102826
53591 -1.709109  0.667748 -1.699809  ...  0.253464  0.533521 -0.022180
53794 -2.230986  1.036425 -1.895516  ...  0.221919  0.609508  0.202874
55401  0.504135  0.161064 -0.765054  ... -0.042515  0.070633  0.192491

            V23       V24       V25       V26       V27       V28  Amount
43361 -0.001081 -0.266879 -0.610670  0.396878 -0.039340 -0.024279   17.55
23162 -0.036026 -0.498654  0.146194  0.642423 -0.129977  0.009599  145.49
26011  0.058402  0.398932  0.105922 -0.352773  0.077840 -0.087331   89.99
8535  -0.109431  0.051257  0.449808  1.074636 -0.095192 -0.018552    8.92
41432  0.129615 -0.070217 -0.333227 -0.514603  0.119476  0.168145   59.95
...         ...       ...       ...       ...       ...       ...     ...
52521 -0.128427 -0.946242  0.456090 -0.453206  0.046627  0.064698  105.99
52584 -0.017746  0.149696 -0.096602 -0.369115 -0.019244 -0.208319    1.00
53591 -0.299556 -0.226416  0.364360 -0.475102  0.571426  0.293426    1.00
53794 -0.060791 -0.186733 -0.017401 -0.283751  0.395451  0.233139    1.00
55401 -0.174659 -0.438908  0.239259 -0.217823 -0.072852  0.010463    1.00

[312 rows x 30 columns]

In [28]:
print(Y)

43361    0.0
23162    0.0
26011    0.0
8535     0.0
41432    0.0
        ...
52521    1.0
52584    1.0
53591    1.0
53794    1.0
55401    1.0
Name: Class, Length: 312, dtype: float64

Split the data into training data and testing data

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [31]:
print(X.shape, X_train.shape, X_test.shape)

(312, 30) (249, 30) (63, 30)

Model Training

Logistic Regression

In [32]:
model = LogisticRegression()

In [33]:
# training the Logistic Regression Model with Training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

Accuracy Score

In [34]:
# accuracy on training data
X_train_Prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_Prediction, Y_train)

In [35]:
print("Accuracy on Training Data : ", training_data_accuracy)

Accuracy on Training Data :  0.9799196787148594

In [36]:
# accuracy score on test data
X_test_Prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_Prediction, Y_test)

In [37]:
print("Accuracy on Test Data : ", test_data_accuracy)

Accuracy on Test Data :  0.9365079365079365